body {
    /* background: red;
    color: blue; */

    background: #232;
    color: #eee;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: 6vw;
    text-align: center;
    padding: 5vw 0;
    margin: 0;
    width: 100vw;
    display: block;
    background: #121;
}

#footer {
    width: 100vw;
    height: 12vw;
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    z-index: 99999;
}

#footer > button {
    flex: 1;
    background: #fff;
    color: #121;
    border: #121 1px solid;
    transition: background 0.3s, color 0.3s;
    font-size: 7vw;
}

#footer > button:hover, #footer > button.active {
    background: #bbb;
}

#back-btn {
    font-size: 9vw !important;
}

#map > img {
    max-width: 100vw;
    text-align: center;
    /* max-height: 70vw; */
}