body {
    /* background: red;
    color: blue; */

    background: #353;
    color: #eee;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: 6vw;
    text-align: center;
    padding: 5vw 0;
    margin: 0;
    width: 100vw;
    display: block;
    background: #232;
}

#back-btn {
    position: fixed;
    top: 3vw;
    left: 4vw;
    background: #0000;
    color: #fff;
    border: none;
    font-size: 3vw;
    padding: 1vw 2vw;
    margin: 0;
    z-index: 99999;
}

#footer {
    width: 100vw;
    height: 12vw;
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    z-index: 99999;
}

#footer > button {
    flex: 1;
    background: #ded;
    color: #121;
    border: #121 1px solid;
    transition: background 0.3s, color 0.3s;
    font-size: 7vw;
}

#footer > button:hover, #footer > button:active {
    background: #bbb;
}

#back-btn {
    font-size: 9vw !important;
}

#map {
    padding-top: 100vw;
    display: block;
    margin: auto;
    width: 90vw;
    text-align: center;
}

.home-content {
    text-align: left;
}

#map > img {
    margin: auto;
    aspect-ratio: 1/1;
    width: 90vw;
    text-align: center;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    position: absolute;
    left: 5vw;
    top: 22vw;
}

div.marker {
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    display: block;
    z-index: 99999;
    border-radius: 100%;

    top: 0;
    left: 0;
}
div.marker#robot {
    display: none;
    background: #adf;
}

div.marker.healthy {
    background: #183;
    width: 2vw;
    height: 2vw;
}

div.marker.unhealthy {
    background: #c33;
    width: 2vw;
    height: 2vw;
}

div.marker.pulse {
    animation: pulse 0.7s infinite alternate 0.5s ease-in-out;
}

@keyframes pulse {
    0%   {
        filter: contrast(0.1);
    }
    50%  {
        filter: brightness(1);
        filter: contrast(10);
    }
    99% {
        filter: contrast(0.1);
    }
}

#settings {
    padding: 8vw;
}

.setting {
    padding-bottom: 2vw;
}

.setting > label {
    /* font-size: 5vw;
    display: block;
    margin: 0;
    padding: 0; */
    padding-right: 2vw;
}

#duration {
    display: inline-block;
    max-width: 20vw;
    margin-right: 2vw;
}