.notif {
    background: #464;
    padding: 3vw;
    margin: 3vw;
    border-radius: 2vw;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.notif-icon {
    /* position: absolute; */
    display: inline-block;
    margin-right: 12px;
}

.notif-header {
    /* position: absolute; */
    /* top: -5vw */
    width: 100%;
    margin-bottom: 16px;
}

.notif-title {
    display: inline-block;
    margin: 0;
}

.notif-image {
    max-width: 25vw;
    max-height: 16vw;
    padding-right: 3vw;
    /* max-height: 60vw; */
    height: auto;
    margin: auto;
    display: block;
}

.notif-expand-text {
    margin-bottom: 0;
    padding-bottom: 0;
}

.notif-expanded-container {
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #010d;
    z-index: 1000;
    padding: 10vh 15vw;
    opacity: 0;
    transition: opacity 0.2s;
}

.notif-expanded {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.notif-expanded-close-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 5vw;
    position: fixed;
    display: block;
    top: 5vw;
    right: 5vw;
}

.notif-expanded-location-container, .mainScreen-btn {
    color: #fff;
    background: #464;
    border: #fff 1px solid;
    border-radius: 8px;
    padding: 4px 6px;
    font-weight: bold;
    margin: 2px 4px;
    transition: background 0.1s, color 0.1s;
}

/* .notif-expanded-location-container:hover, .mainScreen-btn:hover, */
.notif-expanded-location-container:active, .mainScreen-btn:active, .mainScreen-btn.active
{
    background: #fff;
    color: #464;
}

.notif-expanded-location-icon {
    display: inline-block;
    /* font-size: 5vw; */
    /* color: #fff; */
    margin: 1vw 2vw;
}

.notif-expanded-location {
    /* color: #fff; */
    display: inline;
}